h1 {
font-family: Brush Script MT;
font-weight: bold;
font-size: 200%;
padding-top: 7%;
padding-left: 5%;
}h2 {
font-family: Brush Script MT;
font-size: 110%;
padding-left: 7%;
}
body {
background-color: Thistle;
}